#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}

#page-create-point header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}

form{
    background-color: white;

    margin: 80px auto;
    
    padding: 64px;

    border-radius: 8px;

    max-width: 730px;

    
}

form h1 {
    /*Aumenta a fonte*/
    font-size: 36px;
}
 /* Field set dentro do form */
form fieldset {
    /* Altura */
    margin-top: 64px;
    /* Remove a borda lateral do fieldset*/
    border: 0;
}
 /*Todo legend dentro do form*/
form legend {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}
form legend h2 {
    font-size: 24px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

form .field {
    /*Estica os campos*/
    flex: 1;
    display: flex;
    /* Estica os campos*/
    flex-direction: column;
    /* Separação dos campos */
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input,
form select {
    background-color: #f0f0f5;
    /* Retira a borda*/
    border: 0;
    /* Controle a altura e largura do campo*/
    padding: 16px 24px;
    /* Tamanho da letra dentro do campo*/
    font-size: 16px;
    /* retira a linha preta    
    outline: none; */
    /* Arredonda as bordas do campo*/
    border-radius: 8px;
    
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}
 /* Linka a propriedade nos 2 campos */
form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    /* Largura*/
    width: 260px;
    /* altura*/
    height: 56px;
    /* Variavel da cor*/
    background-color: var(--primary-color);
    /* Cor, Fonte*/
    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;
    /* Altura da Margem*/
    margin-top: 40px;
    /* Transição*/
    transition: backgound-color 400ms;
}
    /* Quando passar o mouse em cima*/
form button:hover {
    background-color: #2fb86e;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;

    height: 180px;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}

.items-grid li span{
    margin-top: 12px;

    flex: 1;

    display: flex;
    align-items: center;

    color: var(--title-color);
}

.items-grid li.selected{
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span {
    pointer-events: none;
}